html {
    font-family: 'Roboto';
}



@media screen and (max-device-width: 768px) and (orientation: portrait){

    body {
        width:100%;
        background-color: #B0E0E6;
        opacity: 94%;
    }
}
